* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  background-color: #f0f2f5;
}

a {
  color: #9980fa;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #5758bb;
}

.banner {
  background: linear-gradient(135deg, #878e88 0%, #b5d0bf 100%);
  text-align: center;
  padding: 2rem;
}

.banner-logo {
  margin: 0 auto 1rem;
  width: 3em;
}

.content {
  padding: 1rem;
}

.content-title {
  margin: 1rem;
  font-size: 2.5em;
  font-weight: 300;
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card-meta {
  font-style: italic;
}

.card-img {
  height: 20rem;
  width: 100%;
  object-fit: center;
  border-radius: 15px;
  box-shadow: rgba(102, 30, 238, 0.2) 0px 27px 29px 0px;
}

.card-action {
  margin-top: auto;
  align-self: flex-start;
}

.post {
  padding: 1rem;
  max-width: 40em;
  margin: 0 auto 2rem;
}

.post-meta {
  font-style: italic;
}

.post-picture {
  margin: 2rem 0;
}

.post-content {
  line-height: 1.5;
  font-size: 1.2em;
}

.post-picture-caption {
  font-style: italic;
  margin-top: 0.3rem;
}

.pure-g [class*="pure-u"] {
  font-family: "Work Sans", sans-serif;
}

.pure-menu-item {
  font-size: 1.25em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.pure-menu-link {
  color: white;
}

.pure-menu-item:last-child {
  border: none;
}

.pure-button {
  background-color: #3e9ab1;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.pure-button:hover {
  background-color: #5758bb;
  color: white;
}

@media screen and (min-width: 48em) {
  .banner {
    min-height: 100vh;
  }

  .banner-logo {
    width: 6em;
  }
}

/*  meteo card */

.container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.card_weather {
  margin: 100px auto;
  width: 340px;
  height: 220px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0.3px 0.3px 0.3px 1px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
}

.city,
.date {
  color: gray;
  margin-left: 35px;
}

.city {
  padding-top: 50px;
  font-size: 26px;
}

.date {
  font-size: 20px;
  line-height: 40px;
}

.sun {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  width: 200px;
  height: 70px;
  background: #2a6972;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px inset yellow solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.temp {
  padding: 20px;
  font-size: 20px;
  color: white;
}
